#dash {
    line-height: 0.7em;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #FF0088;
}

#menuu {
    margin-top: 100px;
    line-height: 2em;
}

a {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #AAAAAA
}

p.para {
    font-weight: lighter;
    line-height: 1.5em;
}

.photo {
    box-sizing: border-box;
    float: left;
    height: 100px;
    width: 150px;
}
